footer {
  /* background-color: var(--secondary);
  color: color-mix(in srgb, var(--text) 80%, transparent); */
  background-color: var(--primary);
  color: color-mix(in srgb, #fff 80%, transparent);
  padding: 20px 0;
  text-align: center;
  bottom: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #fff;
  transition: all 100ms ease-in-out;
}
