<div class="image-container">
  <div class="gradient"></div>
  <img
    src="../../../assets/aditya-romansa-5zp0jym2w9M-unsplash.jpg"
    alt="https://unsplash.com/photos/person-holding-babys-index-finger-5zp0jym2w9M?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash"
  />
  <div class="container image-text">
    <div class="row text-center">
      <h1 class="image-title">About Ditama Clinic</h1>
    </div>
    <div class="row text-center">
      <div class="col-10 offset-1">
        <p class="image-content">
          We are a clinic full of passionate people who truly believe that the happiness of our patients should be the
          first priority.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button mat-icon-button class="arrow-icon" (click)="onArrowClick()">
          <mat-icon>keyboard_double_arrow_down</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="div-container" id="vision">
  <div class="container text-center text-container">
    <div class="row">
      <h1>Our Vision</h1>
    </div>
    <div class="row mt-4">
      <div class="col-10 offset-1">
        <p class="text-content">
          Our vision is to revolutionize the way people interact with and think about the medical system. We are firm
          believers that technology is the key to building a powerful and accessible platform, one that empowers people
          to navigate health concerns with knowledge and confidence. By working hand-in-hand with the medical staff and
          combining their needs with those of the patients, we strive to contribute to a more efficient medical future,
          a future where every single person gets the medical care they need.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="div-container">
  <div class="container text-center text-container">
    <div class="row">
      <h1>Our Mission</h1>
    </div>
    <div class="row mt-4">
      <div class="col-10 offset-1">
        <p class="text-content">
          Putting healthcare at your fingertips. Our platform empowers medics, nurses, and patients with a fast and
          easy-to-use tool regardless of age, background or technical expertise. All of our efforts go into providing a
          better service for, to get the care needed to the people that need it as soon as possible.
        </p>
      </div>
    </div>
  </div>
</div>
