<div class="container p-5">
  <div class="row">
    <form
      *ngIf="!isLoading"
      [formGroup]="authForm"
      (ngSubmit)="onSubmit()"
      class="login-container col-12 col-md-6 offset-md-3 p-4 text-center"
    >
      <h2>{{ isLoginMode ? "Log In" : "Register a new account" }}</h2>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          [errorStateMatcher]="matcher"
          placeholder="Ex. mike@example.com"
        />
        <mat-hint *ngIf="authForm.get('email')?.valid">Email is valid!</mat-hint>
        <mat-error *ngIf="authForm.get('email')?.hasError('email') && !authForm.get('email')?.hasError('required')">
          Please enter a vaild email address
        </mat-error>
        <mat-error *ngIf="authForm.get('email')?.hasError('required')"> Email is <strong>required</strong> </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          [type]="hidePass ? 'password' : 'text'"
          matInput
          formControlName="password"
          [errorStateMatcher]="matcher"
        />
        <button mat-icon-button matSuffix (click)="hidePass = !hidePass">
          <mat-icon>{{ hidePass ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-hint *ngIf="authForm.get('password')?.valid">Password is valid!</mat-hint>
        <mat-error *ngIf="authForm.get('password')?.hasError('minlength')">
          Password must be at least <strong>8 characters</strong> long
        </mat-error>
        <mat-error *ngIf="authForm.get('password')?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="authForm.get('password')?.hasError('pattern')">
          Password must include at least <strong>one letter</strong> and
          <strong>one number</strong>
        </mat-error>
      </mat-form-field>

      <button class="mt-3 mb-3" type="submit" mat-raised-button color="primary" [disabled]="authForm.invalid">
        {{ isLoginMode ? "Log in" : "Sign up" }}
      </button>
      <a href="" (click)="toggleLoginMode($event)">{{ isLoginMode ? "Create your account" : "Back to log in" }}</a>
    </form>
    <div class="col-12 d-flex justify-content-center">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
  </div>
</div>
