<mat-toolbar color="primary">
  <div class="container d-flex">
    <a mat-button routerLink="/" class="fs-4"><i class="bi bi-bandaid-fill"></i> Ditama Clinic</a>
    <a mat-button routerLink="medics">Medics</a>
    <a mat-button routerLink="/">Appointments</a>
    <a mat-button routerLink="/">About</a>
    <span class="spacer"></span>
    <a mat-button routerLink="/">Upload photo <i class="bi bi-cloud-upload-fill ms-1"></i></a>
    <a mat-button routerLink="/">Contact <i class="bi bi-telephone-fill ms-1"></i></a>
    <a mat-button routerLink="login">Login <i class="bi bi-person-circle ms-1"></i></a>
  </div>
</mat-toolbar>
