.spacer {
  flex: 1 1 auto;
}

.container > a {
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-icon {
  font-size: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.user-info {
  color: color-mix(in srgb, #fff 60%, transparent);
  font-size: 0.8rem;
  line-height: 37px;
  display: flex;
  align-items: center;
  font-style: italic;
}
