<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-2 offset-5 position-relative">
      <input
        [matDatepicker]="picker"
        [matDatepickerFilter]="weekendFilter"
        class="position-absolute opacity-0"
        (dateChange)="onDateChange($event)"
        disabled
      />
      <mat-datepicker #picker disabled="false"></mat-datepicker>
      <button mat-button color="primary" (click)="picker.open()">
        {{ this.selectedStartOfWeek | date }} - {{ this.selectedEndOfWeek | date }}
      </button>
    </div>
  </div>
  <app-schedule-table [startDate]="selectedStartOfWeek" [endDate]="selectedEndOfWeek"></app-schedule-table>
</div>
