<div class="col-12 p-1 pt-5 overflow-x-hidden">
  <div class="row">
    <mat-accordion class="appointmentAccordion" multi>
      <ng-container *ngIf="futureAppointments$ | async as appointments">
        <h4 class="upcoming-appointments-header">Upcoming appointments</h4>
        <h6 *ngIf="appointments.length === 0">
          <em>No upcoming appointments</em>
        </h6>
        <mat-expansion-panel *ngFor="let appointment of appointments">
          <mat-expansion-panel-header>
            <mat-panel-title> Upcoming appointment </mat-panel-title>
            <mat-panel-description>
              {{ appointment.datetime | date }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row text-center mb-3">
            <h2>Appointment Details</h2>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="row">
                <h4>Appointment Info</h4>
              </div>
              <div class="row">
                <p><strong>City:</strong> {{ appointment.city }}</p>
              </div>
              <div class="row">
                <p><strong>Appointment time:</strong> {{ appointment.datetime | date : "medium" }}</p>
              </div>
              <ng-container *ngIf="getMedicById(appointment.medicId) as medic">
                <div class="row">
                  <p><strong>Medic:</strong> {{ medic.shortTitle }} {{ medic.firstName }} {{ medic.lastName }}</p>
                </div>
                <div class="row">
                  <p><strong>Specialty:</strong> {{ medic.specialty }}</p>
                </div>
              </ng-container>
            </div>
            <div class="col-6">
              <div class="row">
                <h4>Patient Info</h4>
              </div>
              <div class="row">
                <p><strong>Patient Name:</strong> {{ appointment.firstName }} {{ appointment.lastName }}</p>
              </div>
              <div class="row">
                <p><strong>Email:</strong> {{ appointment.email }}</p>
              </div>
              <div class="row">
                <p><strong>Phone Number:</strong> +40{{ appointment.telephone }}</p>
              </div>
              <div class="row">
                <p><strong>Reason:</strong> {{ appointment.comment ? appointment.comment : "No reason given" }}</p>
              </div>
            </div>
          </div>
          <ng-container *ngIf="appointment.imgUrl">
            <div class="row">
              <h4>Uploaded image:</h4>
            </div>
            <div class="row">
              <div class="col-6">
                <img [src]="appointment.imgUrl" alt="Appointment Image" class="w-100" />
              </div>
            </div>
          </ng-container>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </div>
  <div class="row mt-3 mb-3">
    <mat-divider></mat-divider>
  </div>
  <div class="row">
    <mat-accordion class="appointmentAccordion" multi>
      <ng-container *ngIf="pastAppointments$ | async as appointments">
        <h4 class="past-appointments-header">Past appointments</h4>
        <h6 *ngIf="appointments.length === 0">
          <em>No past appointments</em>
        </h6>
        <mat-expansion-panel *ngFor="let appointment of appointments">
          <mat-expansion-panel-header>
            <mat-panel-title> Past appointment </mat-panel-title>
            <mat-panel-description>
              {{ appointment.datetime | date }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row mb-3">
            <h2>Appointment Details</h2>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="row">
                <h4>Appointment Info</h4>
              </div>
              <div class="row">
                <p><strong>City:</strong> {{ appointment.city }}</p>
              </div>
              <div class="row">
                <p><strong>Appointment time:</strong> {{ appointment.datetime | date : "medium" }}</p>
              </div>
              <ng-container *ngIf="getMedicById(appointment.medicId) as medic">
                <div class="row">
                  <p><strong>Medic:</strong> {{ medic.shortTitle }} {{ medic.firstName }} {{ medic.lastName }}</p>
                </div>
                <div class="row">
                  <p><strong>Specialty:</strong> {{ medic.specialty }}</p>
                </div>
              </ng-container>
            </div>
            <div class="col-6">
              <div class="row">
                <h4>Patient Info</h4>
              </div>
              <div class="row">
                <p><strong>Patient Name:</strong> {{ appointment.firstName }} {{ appointment.lastName }}</p>
              </div>
              <div class="row">
                <p><strong>Email:</strong> {{ appointment.email }}</p>
              </div>
              <div class="row">
                <p><strong>Phone Number:</strong> +40{{ appointment.telephone }}</p>
              </div>
              <div class="row">
                <p><strong>Reason:</strong> {{ appointment.comment ? appointment.comment : "No reason given" }}</p>
              </div>
            </div>
          </div>
          <ng-container *ngIf="appointment.imgUrl">
            <div class="row">
              <h4>Uploaded image:</h4>
            </div>
            <div class="row">
              <div class="col-6">
                <img [src]="appointment.imgUrl" alt="Appointment Image" class="w-100" />
              </div>
            </div>
          </ng-container>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </div>
</div>
