<div class="col-12 p-1 pt-5">
  <mat-accordion class="appointmentAccordion" multi>
    <ng-container *ngIf="appointments$ | async as appointments">
      <mat-expansion-panel *ngFor="let appointment of appointments">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ appointment.city }} appointment </mat-panel-title>
          <mat-panel-description>
            {{ appointment.datetime | date }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row text-center mb-3">
          <h5>Appointment Details</h5>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="row">
              <h6>Appointment Info</h6>
            </div>
            <div class="row">
              <p><strong>City:</strong> {{ appointment.city }}</p>
            </div>
            <div class="row">
              <p><strong>Appointment time:</strong> {{ appointment.datetime | date : "medium" }}</p>
            </div>
            <ng-container *ngIf="getMedicById(appointment.medicId) as medic">
              <div class="row">
                <p><strong>Medic:</strong> {{ medic.shortTitle }} {{ medic.firstName }} {{ medic.lastName }}</p>
              </div>
              <div class="row">
                <p><strong>Specialty:</strong> {{ medic.specialty }}</p>
              </div>
            </ng-container>
          </div>
          <div class="col-6">
            <div class="row">
              <h6>Patient Info</h6>
            </div>
            <div class="row">
              <p><strong>Patient Name:</strong> {{ appointment.firstName }} {{ appointment.lastName }}</p>
            </div>
            <div class="row">
              <p><strong>Email:</strong> {{ appointment.email }}</p>
            </div>
            <div class="row">
              <p><strong>Phone Number:</strong> {{ appointment.telephone }}</p>
            </div>
            <div class="row">
              <p><strong>Reason:</strong> {{ appointment.comment }}</p>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
  <mat-divider></mat-divider>
</div>
