<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()" class="col-12 col-md-6 offset-md-3 p-4 text-center">
  <div class="row">
    <h2 class="form-title">Make a new appointment</h2>
    <h6 class="form-subtitle">Complete the following form to create your appointment today!</h6>
  </div>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <mat-select formControlName="city" (selectionChange)="onCityChange($event)">
        <ng-template *ngIf="!(cities$ | async); else loaded">
          <mat-option disabled>No cities available</mat-option>
        </ng-template>
        <ng-template #loaded>
          <mat-option *ngFor="let city of cities$ | async" [value]="city">{{ city }}</mat-option>
        </ng-template>
      </mat-select>
      <mat-error *ngIf="appointmentForm.get('city')?.hasError('required') && appointmentForm.get('city')?.touched">
        This field is required
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Specialty</mat-label>
      <mat-select formControlName="specialty" [disabled]="!(availableSpecialties$ | async)">
        <mat-option *ngFor="let specialty of availableSpecialties$ | async" [value]="specialty">{{
          specialty
        }}</mat-option>
      </mat-select>
      <mat-error
        *ngIf="appointmentForm.get('specialty')?.hasError('required') && appointmentForm.get('specialty')?.touched"
      >
        This field is required
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput type="text" formControlName="firstName" />
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" formControlName="lastName" />
    </mat-form-field>
  </div>

  <div class="row">
    <button type="submit" mat-raised-button color="primary" [disabled]="appointmentForm.invalid">Submit</button>
  </div>
</form>
