<section>
  <div class="carousel">
    <button mat-fab class="carousel-button prev" (click)="onPrevClick()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-fab class="carousel-button next" (click)="onNextClick()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
    <ul>
      <li *ngFor="let imgUrl of carouselImgUrls; let i = index" class="slide" [class.active]="i === activeImageIndex">
        <img [src]="imgUrl" alt="Medical Image" />
      </li>
    </ul>
  </div>
</section>
