<section>
  <div class="carousel">
    <button mat-fab class="carousel-button prev"><mat-icon>arrow_back</mat-icon></button>
    <button mat-fab class="carousel-button next"><mat-icon>arrow_forward</mat-icon></button>
    <ul>
      <li class="slide" data-active>
        <img [src]="carouselImgUrls[0]" alt="Medical Image" />
      </li>
      <li class="slide">
        <img [src]="carouselImgUrls[1]" alt="Medical Image" />
      </li>
      <li class="slide">
        <img [src]="carouselImgUrls[2]" alt="Medical Image" />
      </li>
      <li class="slide">
        <img [src]="carouselImgUrls[3]" alt="Medical Image" />
      </li>
    </ul>
  </div>
</section>
