<section>
  <div class="carousel">
    <button mat-fab class="carousel-button prev" (click)="onPrevClick()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-fab class="carousel-button next" (click)="onNextClick()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
    <ul>
      <li *ngFor="let section of carouselSections; let i = index" class="slide" [class.active]="i === activeImageIndex">
        <div>
          <div class="gradient"></div>
          <img [src]="section.url" alt="Medical Image" />
          <h1>{{ section.text }}</h1>
        </div>
      </li>
    </ul>
  </div>
</section>
