.profile-header-div {
  height: 25vh;
  display: flex;
  align-items: center;
  padding: 2rem;
}

.img-div {
  border-radius: 50%;
  border: 3px solid black;
  aspect-ratio: 1;
  background-size: cover;
  flex: 0 0 180px;
}
