<div class="container p-5">
  <div *ngIf="isFetching && !error" class="pt-5 mt-5">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="alert alert-danger" *ngIf="error">
    <h1>An Error Occurred!</h1>
    <p>{{ error }}</p>
  </div>
  <ng-container *ngIf="!isFetching && !error && isAuthenticated && userData?.role === 'medic'">
    <div class="row mb-1">
      <div class="col-2 offset-5">
        <button class="mb-2" mat-raised-button type="button" color="primary" (click)="onMedicPageButtonClick()">
          <em>To set up or edit your medic page, go to your profile</em>
        </button>
      </div>
    </div>
  </ng-container>
  <mat-grid-list *ngIf="!isFetching && !error" cols="3" gutterSize="3rem">
    <mat-grid-tile *ngFor="let medic of medics">
      <mat-card class="medic-card">
        <mat-card-title-group class="mb-2">
          <mat-card-title>
            <mat-icon *ngIf="medic.userId === userId" matTooltip="This is you">star</mat-icon>
            {{ medic.shortTitle }} {{ medic.firstName }} {{ medic.lastName }}
          </mat-card-title>
          <mat-card-subtitle>{{ medic.specialty }}</mat-card-subtitle>
          <img
            mat-card-lg-image
            [src]="medic.photoUrl !== undefined ? medic.photoUrl : defaultPhotoUrl"
            [alt]="medic.firstName + medic.lastName"
            class="medic-img"
          />
        </mat-card-title-group>
        <mat-card-content>
          <p>{{ medic.firstName }} {{ medic.lastName }} - {{ medic.title }} specialized in {{ medic.specialty }}</p>
          <p>
            City:
            <i>{{ medic.city }}</i>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="onScheduleAppointmentClick(medic)">
            Schedule an appointment
          </button>
          <button mat-button color="accent" [matMenuTriggerFor]="menu">Contact</button>
          <mat-menu #menu="matMenu" yPosition="above">
            <button mat-menu-item>
              <mat-icon>email</mat-icon>
              <span>Send Email</span>
            </button>
            <button mat-menu-item>
              <mat-icon>phone</mat-icon>
              <span>Phone Call</span>
            </button>
          </mat-menu>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
